{% extends 'g1.html' %}

{% block content %}
  <div class="head">
   <center> <img src="img/head.jpg" alt="1" width = "1150" height = "200"></center>
  </a>
</div> 

<div class = "groupimg">
   <img src="img/1.jpg" alt="1" width="700" height="700">
</div> 


<div class= "scroll">
<iframe src="iframe.html" style="border:none" width = "300" height = "700">
<!--     <center><h1>Description:</h1>
    <p>description<br>description</p>
     <li><h2>Full title:</h2></li>
         <p>description<br>description</p>
      <li><h2>Published:</h2></li>
          <p>description<br>description</p>
       <li><h2>Formats:</h2></li>
           <p>description<br>description</p>
        <li><h2>Creater:</h2></li>
            <p>description<br>description</p>
         <li><h2>Held by:</h2></li>
             <p>description<br>description</p>
         <li><h2>Usage term:</h2></li>
             <p>description<br>description</p>
             <li><h2>Shelf mark:</h2></li>
             </center> -->
</iframe> 
</div>

<div class = "button">
     <a target="_blank" href="2.html">
        <img src="/Users/yuan/Documents/app/artefact/home.png" alt="1" width="60" onmousedown="mousedown();">
   </a>
</div>
{% enblock content %}